<div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a>Prenomea</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#About">About</a>
                        <div class="modal hide fade in" id="About">
                           <div class="modal-header">
                            <button class="close" data-dismiss="modal">
                                <h3>about</h3></button>
                                <h3>about</h3>
                            </div>
                            <div class="modal-body">
                                <p>Ce site a pour but d'aider les Strasbourgeois dans leur recherche de prénom de leur futur enfant</p>
                                <br>
                                <p>Toutes les informations indiquées sur celui-ci proviennent d'une base de donnée fournie par la CUS</p>
                                <br>
                                <p>Cette démarche s'inscrit dans le cadre du concours <a href="http://fr.wikipedia.org/wiki/Données_ouvertes">OPENDATA</a> dans la catégorie "vie quotidienne"</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Fermer</a>
                            </div>
                        </div> 
                    </li>
                    <li>
                        <a data-toggle="modal" href="#Contact">Contact</a>
                        <div class="modal hide fade in" id="Contact">
                           <div class="modal-header">
                            <button class="close" data-dismiss="modal">
                                <h3>contact</h3></button>
                                <h3>contact</h3>
                            </div>
                            <div class="modal-body">
                                <p><h2>Les développeurs du site :</h2></p>
                                <br>
                                <p>Gabriel MULLER <div id="email">gabriel.muller.12@gmail.com</div></p>
                                <br>
                                <p>Clément MULLER <div id="email">clement_muller@hotmail.fr</div></p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Fermer</a>
                            </div>
                        </div> 
                    </li>
                </ul>
                <a href="http://www.strasbourg.eu" id="logo"><img src="{{ asset('images/logo.jpeg') }}" alt="" /></a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>