<h4>Prénoms les plus donnés en 2012 à Strasbourg</h4>
<div class="row">
    <div id="contenu_a" class="span6">
        <ul>
            <li>
                <h5>GARCONS</h5>
            </li>
            <li>
                <br>
                Lucas
            </li>
            <li>
                Hugo
            </li>
            <li>
                Gabriel
            </li>
            <li>
                Adam
            </li>
            
        </ul>
    </div>
    <div id="contenu_a" class="span6">
        <ul>
            <li>
                <h5>FILLES</h5>
            </li>
            <li>
                <br>
                Emma
            </li>
            <li>
                Louise
            </li>
            <li>
                Chloé
            </li>
            <li>
                Lucie
            </li>
            
        </ul>
    </div>
</div>