body {
            padding-top: 60px;
            background-color: #444444;
            color: white;

        }
.navbar {
    border-bottom: 4px #999999 solid;
    font-size: 40px;
    opacity: 0.9;
}
.nav li{
   border-right: 4px #999999 solid;
}
#a {
    background-color: #eb5b4c;
    text-align: center;
}
#contenu_a {
    margin: auto;
}
#b {
    background-color: #52b9e9;
    text-align: center;

}
#c {
    background-color: #6b476b;
    text-align: center;
}
#c .well {
    background-color: #6b476b;
    border: none;
    box-shadow: none;

}

#d {
     background-color: #38763e;
     text-align: center;
}
#d .well {
    background-color: #38763e;
    border: none;
    box-shadow: none;
    overflow: hidden;
}

#e {
    background-color: #f4b844;
    text-align: center;
}

#f {
    background-color: #fa5b30;
    text-align: center;
    height: 240px;
}
#f .well {
    background-color: #fa5b30;
    border: none;
    box-shadow: none;
    font-size: 10px;
    text-align: justify;
    overflow : auto;
    height: 120px;
}
 #a, #b, #c, #d, #e, #f {

    margin-top: 25px;
    border: 4px white solid;
    border-radius: 4px;
    min-height: 240px;
    padding : 5px;
    font-weight: bold;
    
 }
 


#logo {
    float: right;
}

#contenu_a li {
    list-style-type: none;

}



#diagbaton {
    text-align: center;

}

.modal-body {
    color: black;
    font-size: 20px;
    
}

.close {
    opacity:1;
}

.modal-backdrop.fade.in, .modal
    {
        opacity: 0.7; 
        z-index: 0;
    }

#email {
        font-style: italic;
    }